# Ambiente e Variáveis Sensíveis
.env
.env.local
.env.*

# Google Cloud e Credenciais (Segurança extra)
*.json
!requirements.txt # Não ignore o requirements caso tenha .json no nome por erro

# Python (Arquivos gerados e pastas de ambiente virtual)
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
dist/

# Jupyter Notebook (Arquivos temporários e checkpoints)
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Sistema (macOS e Windows)
.DS_Store
Thumbs.db